.Modal {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15%;
    width: 325px;
    min-height: 175px;
    max-height: 250px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
}

.Modal p {
    color: #000;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(48, 48, 48, 0.8);
}

.ModalContent {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ModalContent p {
    display: inline;
    font-size: 0.8em;
    color: #0b7dda;
    text-decoration: none;
}

.ModalContent p:hover {
    text-decoration: underline;
    cursor: pointer;
}